div.ribbon {
    border-radius: 25px;
    position: absolute;
    border: 1px solid #8a2be2;
    color: white;
    background: linear-gradient(90deg, rgba(198,118,218,1) 0%, rgba(168,38,217,1) 100%);
    top: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 10px;
    left: 0%;
}