div.ribbon {
    border-radius: 25px;
    position: absolute;
    border: 1px solid blueviolet;
    color: white;
    background: linear-gradient(90deg, rgba(198,118,218,1) 0%, rgba(168,38,217,1) 100%);
    left: 0px;
}