<div class="timeline my-4">
    <div class="header-row">
        <div class="header mp-4" *ngFor="let header of headers">
            {{ header.key }}
        </div>
    </div>
    <div class="rows">
        <div class="content-row" *ngFor="let row of rows; let i = index">
            <div class="row-column mp-4"  *ngFor="let header of headers">
                {{ getContent(row, header) }}
            </div>
            <div *ngFor="let ribbon of row.ribbons">
                <app-ribbon [ribbon]="ribbon" [headers]="headers" [timelineEl]="el" [row]="row"></app-ribbon>
            </div>
        </div>
    </div>
</div>

