<div class="container">
    
    
  <button type="button" class="favorite styled" (click)="createGroup(createGroupModal)" >Create Group</button>
  
  <ng-template #createGroupModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="editProfileLabel">Create Group</h5>
      <button (click)="modal.dismiss()" type="button" class="close" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>
     </div>
     <br>
     <div class="modal-body">
      <form [formGroup]="createGroupForm" (ngSubmit)="onSubmit()">
  
        <br><br>
  
  
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="name" id="name">
            </div>
        </div>
  
       <br><br>
         
       <div class="form-group row">
        <label for="admin" class="col-sm-4 col-form-label">Creator</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" placeholder="you" aria-label="readonly input example" readonly>
          </div>
       </div>
  
       <br><br>
  
       <div class="form-group row" [formGroup]="selectForm">
        <label for="typeahead-template" class="col-sm-4 col-form-label">Select a members:</label>
          <div class="col-sm-8">
                    <ng-select
                    [items]="userList"
                    bindLabel="search_label"
                    bindValue="_id"
                    labelForId="state"
                    [multiple]="true"
                    placeholder="Select members"
                    clearAllText="Clear"
                    [searchable]="true"
                    [(ngModel)]="selectedMembersId"
                    [searchFn]="customSearchFn"
                    formControlName="selectedMembers">
          </ng-select>
  
          
  
        
          <br>
          <button (click)="clearListSelected()" class="btn btn-sm btn-secondary">Clear</button>
  
  
              
                   
        <div>
          <br/>Selected members ID: {{selectedMembersId | json}}
        </div>
  
          </div>
        </div>
      
        <br><br>
  
        <div class="modal-footer">
             <button type="button" (click)="modal.dismiss()" class="btn btn-secondary" >Cancel</button> 
             <button type="submit" class="favorite styled" >Create</button>
        </div>
      </form>
    </div>
  


  </ng-template>
</div>





  

  