.content-row {
    display: flex;
    flex-direction: row;
}

.row-column, .header-row .header {
    display: inline-block;
}

.header-row {
    display: flex;
    flex-direction: row;
}

.header-row {
    border: 1px solid #b8daff;
}

.header-row .header {
    background: #b8daff;
}

.rows .content-row .row-column {
    border: 1px solid grey;
}

.timeline {
    
    overflow: auto;
    border: 1px solid grey;
    position: relative; 
}

.mp-4 {
    padding: 35px;
}

.rows, .row-column {
    position: relative;
}
