<div>
    <div class="no-gutter mt-4">
        <div class="my-4">
            <h2>Group list</h2>
        </div>
        <div *ngIf="canAdd" class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            <button class="btn btn-primary" (click)="createGroup(createGroupModal)" type="button">Create Group</button>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Name</th>
                        <th scope="col">Members</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of teams; let i = index">
                        <td>{{team.name}}</td>
                        <td>
                            <ng-select [items]="team.members!" bindLabel="firstname" bindValue="_id" [(ngModel)]="defaultMemberId[i]"></ng-select>
                        </td>
                        <td>{{team.created_at | date:'dd-MM-yyyy'}}</td>
                        <td *ngIf="team.admin">{{team.admin.firstname}}</td>
                        <td>
                            <a class="mx-2 link link-info" routerLink="/teams/{{team._id}}" >
                                <fa-icon [icon]="faCogs"></fa-icon>
                            </a>
                            
                            <a *ngIf="team._id"   class="btn-danger btn-sm"  (click)="onDelete(team._id,team.members)" >
                                <fa-icon [icon]="faTrash"></fa-icon>
                                </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<ng-container>
    <ng-template #createGroupModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="editProfileLabel">Create Group</h5>
            <button (click)="modal.dismiss()" type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <br>
        <div class="modal-body">

            <form [formGroup]="createGroupForm" (ngSubmit)="onSubmit()">

                <br><br>
                <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="name" id="name">
                    </div>
                </div>

                <br><br>
                <br><br>

                <div class="form-group row" [formGroup]="selectForm">
                    <label for="typeahead-template" class="col-sm-4 col-form-label">Select a members:</label>
                    <div class="col-sm-8">
                        <ng-select [items]="userList" 
                        bindLabel="search_label" bindValue="_id" 
                        labelForId="state" 
                        [multiple]="true" 
                        placeholder="Select members" 
                        learAllText="Clear" 
                        [searchable]="true" 
                        [(ngModel)]="selectedMembersId" 
                        [searchFn]="customSearchFn" 
                        formControlName="members">
                        </ng-select>
                        <br>
                        <button (click)="clearListSelectedMembers()" class="btn btn-sm btn-secondary">Clear</button>
                    </div>
                </div>

                <br><br>

                <div class="modal-footer">
                    <button type="button" (click)="modal.dismiss()" class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="favorite styled">Create</button>
                </div>
            </form>

        </div>
    </ng-template>
</ng-container>