<div class="container">
    <div class="row justify-content-md-center mt-5" *ngIf="myProfil">
        <div class="card w-75 mb-5">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmitForm()">
                <div class="card-header">
                    <h5>{{myProfil.firstname}} {{myProfil.lastname}}</h5>
                </div>
                <div class="card-block card-body">
                    <div class="row">
                        <div class="col-md-4 form-group text-center">
                            <div class="personal-image">
                                <label class="label">
                                    <input type="file" (change)="onFileSelected($event)" />
                                    <figure class="personal-figure">
                                        <img [src]='myProfil.avatar' (error)="onImgError($event)"
                                            class="personal-avatar" alt="avatar">
                                        <figcaption class="personal-figcaption">
                                            <img
                                                src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                                        </figcaption>
                                    </figure>
                                </label>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted">Created at : {{myProfil.created_at | date }}
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted">Updated at : {{myProfil.created_at | date }}
                            </h6>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Firstname</label>
                                <input type="text" class="form-control form-control-sm" [value]="myProfil.firstname"
                                    id="firstname" name="firstname" formGroupName="firstname"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                                <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstname.errors.required">First Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Lastname</label>
                                <input type="text" class="form-control form-control-sm" [value]="myProfil.lastname"
                                    id="lastname" name="lastname" formGroupName="lastname"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date of birth</label>
                                <input type="Date" class="form-control form-control-sm"
                                    [value]="myProfil.birthdate | date:'yyyy-MM-dd'" id="birthdate" name="birthdate"
                                    formGroupName="birthdate">
                            </div>
                            <div class="form-group" *ngIf="myProfil">
                                <label class="control-label">Groups</label>
                                <input type="text" class="form-control form-control-sm" [value]="myProfil.groups"
                                    id="groups" name="groups" formGroupName="groups">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control form-control-sm" [value]="myProfil.email"
                                    id="email" name="email" formGroupName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input type="password" class="form-control form-control-sm" id="password"
                                    name="password" formGroupName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Confirm Password</label>
                                <input type="password" formGroupName="confirmPassword" class="form-control form-control-sm"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>