<div class="container">
    <br>
    <div class="row" *ngIf="team">
        <div class="input-group" class="col-md-3">
            <input type="text" class="form-control" [(ngModel)]="team.name" id="team.name" id="group_name" name="group_name" />
        </div>
        <div class="offset-md-1 col-md-4">
            <div class="row">
                <p>
                    Created at: {{team.created_at | date: "dd / MM / y" }}
                </p>
            </div>
            <div class="row">
                <p>
                    Updated at : {{team.updated_at | date: "dd / MM / y" }}
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row-cols-1" *ngIf="team">
                <app-ui-button *ngIf="team._id" class="col-md-7" (click)="onDelete(team._id,team.members)" [type]="'danger'" [icon]="'trash'" [content]="'Delete'">
                </app-ui-button>

                <app-ui-button class="col-md-7" [type]="'primary'" (click)="updateTeam(team)" [icon]="'save'" [content]="'Update'">
                </app-ui-button>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">

            <h2>Members</h2>

            <div class="col-md-4" id="div-btn" *ngIf="team">

                <app-ui-button class="col-md-6" (click)="updateByAddingUser(content, team)" [type]="'primary'" [icon]="'fa-user'" [content]="'Add members'">
                </app-ui-button>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                     <a class="btn btn-default" href="" target="_blank"><i class="glyphicon glyphicon-plus"></i></a>
                </span>
            </div>


            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="team">
                    <tr *ngFor="let member of team.members; let i = index">
                        <td>{{ member.firstname }}</td>
                        <td>{{ member.lastname }}</td>
                        <td>{{member.email}}</td>
                        <td>
                            <button *ngIf="team" type="button" (click)="deleteUserOnGroup(team,member._id)" class="btn btn-danger btn-circle btn-floating btn-sm">
                            <fa-icon [icon]="faTrash"></fa-icon>
                          </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">

            <h2>Projects</h2>

            <div class="col-md-4" id="div-btn">
                <app-ui-button class="col-md-6" [type]="'primary'" [icon]="'add'" [content]="'Add Projects'">
                </app-ui-button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Name</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Groups</th>
                        <th scope="col">Status</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="projects">
                    <tr *ngFor="let project of projects; let i = index">
                        <td>{{ project.name }}</td>
                        <td>{{ project.created_at | date: "dd / MM / y" }}</td>
                        <td>
                            <ng-select [items]="project.groups" bindLabel="name" bindValue="_id" [(ngModel)]="defaultGroupId[i]"></ng-select>
                        </td>
                        <td><span class="badge" [ngClass]="{ 'badge-success': !project.close, 'badge-danger': project.close }">{{ status(project) }}</span>
                        </td>
                        <td>{{ project.admin.email }}</td>
                        <td *ngIf="team">
                            <button type="button" class="btn btn-primary btn-circle btn-floating btn-sm me-1">
                                <fa-icon [icon]="faCog"></fa-icon>
                            </button>
                            <button *ngIf="team._id" type="button" class="btn btn-danger btn-circle btn-floating btn-sm">
                            <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header" *ngIf="team">
        <h4 class="modal-title" id="modal-basic-title">Add member to {{team.name}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row" [formGroup]="selectForm">
                <label for="typeahead-template" class="col-sm-4 col-form-label">Select a members:</label>
                <div class="col-sm-8">
                    <ng-select [items]="userList" bindLabel="search_label" bindValue="_id" labelForId="state" [multiple]="true" placeholder="Select members" clearAllText="Clear" [searchable]="true" [(ngModel)]="selectedMembersId" [searchFn]="customSearchFn" formControlName="members">
                    </ng-select>
                    <br>
                    <button class="btn btn-sm btn-secondary">Clear</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>