<article>
    <div class="container">
        <form *ngIf="project" class="mt-4">
            <div class="row">
                <div class="input-group" class="col-md-3">
                    <input type="text" class="form-control" [(ngModel)]="project.name" id="project.name"
                        id="project_name" name="project_name" />
                </div>
                <div class="offset-md-1 col-md-4">
                    <div class="row">
                        <p>
                            Créée le: {{ project.created_at | date: "dd / MM / y" }}
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            Mise à jour le : {{ project.updated_at | date: "dd / MM / y" }}
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            Temps total: {{ Total | date: "HH:mm:ss" }}  
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <app-ui-button *ngIf="!project.close" class="col-md-6" (click)="close(project)" [type]="'danger'" [icon]="'trash'" [content]="'Clore'">
                        </app-ui-button>

                        <app-badge *ngIf="project.close"  [type]="'danger'" class="col-md-6"  [content]="'Projet clos'"></app-badge>

                        <app-ui-button class="col-md-6" (click)="update(project)" [type]="'primary'" [icon]="'save'" [content]="'Mettre à jour'">
                        </app-ui-button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="opposite">
                        <div>
                            <h2>Timeline</h2>
                        </div>
                        <div *ngIf="!project.close">
                            <app-ui-button [type]="'primary'" [icon]="'home'" [content]="'Ajouter une tâche'">
                            </app-ui-button>
                        </div>
                    </div>
                    <div *ngIf="rows.length && headers.length && currentDate !== null" >
                        <app-timeline (changeTimer)="InitTimers($event)" [selectDate]="selectDate" [currentDate]="currentDate" [headers]="headers" [rows]="rows"></app-timeline>
                    </div>
                </div>
            </div>
        </form>
        <app-teams-list [teams]="teams"></app-teams-list>
    </div>
</article>