input#project_name {
    border-radius: 5px;
}

.opposite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pr15 {
    padding-right: 15px;
}