<nav class="navbar navbar-expand-lg navbar-dark bg-dark background-primary">
    <div class="container-fluid">
        <a class="navbar-brand">Project Timer</a>
        <div *ngIf="currentUser" class="collapse navbar-collapse space-between">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/teams">Teams</a>
                </li>
            </ul>
            <nav class="navbar-nav navbar-right">
                <span class="navbar-text me-1">
                    {{ currentUser.firstname }} {{ currentUser.lastname }}
                </span>
                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block" display="dynamic">
                        <span class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                            <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25"
                                alt="" loading="lazy" />
                        </span>
                        <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <button class="dropdown-item" routerLink="/my-profil">My Account</button>
                            <button class="dropdown-item" routerLink="/users/timers">My Timer View</button>
                            <li><hr class="dropdown-divider"></li>
                            <button class="dropdown-item" (click)="logout($event)">Logout</button>
                        </div>
                    </div>
                </li>
            </nav>
        </div>
    </div>
</nav>