<div class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div>
                        <h2>Ma Timeline</h2>
                    </div>
                </div>
                <div *ngIf="rows.length && headers.length && currentDate !== null">
                    <app-timeline [selectDate]="selectDate" (myEvent)="UpdateRows($event)" [currentDate]="currentDate" [headers]="headers"
                        [rows]="rows">
                    </app-timeline>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="timers.length">
            <app-bar-chart class="col-md-12" [title]="'Temps moyen par jour(/min)'" [items]="timers"
                [transform]="barChart"></app-bar-chart>
        </div>
        <div class="row" *ngIf="timers.length">
            <app-pie-chart class="col-md-12" [title]="'Temps passé en fonction du type de tâche(/s)'"
                [items]="timers" [transform]="pieChart"></app-pie-chart>
        </div>
    </div>
</div>