<div class="container">
    <div class="row no-gutter mt-4">
        <h2>Group </h2>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            <button class="btn btn-primary" type="button">Create Group</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="team">
                    <tr *ngIf="team.admin">
                        <td>{{ team.admin.firstname }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let member of team.members">
                        <td>{{ member.firstname }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Name</th>
                        <th scope="col">Created_at</th>
                        <th scope="col">Groups</th>
                        <th scope="col">Status</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>