<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="timerForm" (ngClick)="onSubmitForm()">
      <div class="mb-3 form-group">
        <label for="description" class="form-label">Description *</label>
        <input type="text" class="form-control" id="description" formControlName="description">
      </div>
      <div class="mb-3 form-group">
        <label for="taskType" class="form-label">Task Type *</label>
        <input type="text" class="form-control" id="taskType" formControlName="taskType">
      </div>
      <div class="mb-3 form-group">
        <label for="user" class="form-label">User *</label>
        <select id="user" formControlName="user" class="form-select form-control" aria-label="select">
          <option value="{{currentUser._id}}">{{currentUser.firstname}} {{currentUser.lastname}}</option>
        </select>
      </div>
      <div class="mb-3 form-group">
        <label for="startTime" class="form-label">Start time</label>
        <input type="datetime-local" class="form-control" id="startTime" formControlName="startTime">
      </div>
      <div class="mb-3 form-group">
        <label for="duration" class="form-label">Duration</label>
        <input type="time" class="form-control" value="{{time.toISOString().substr(11, 8)}}" step="2" id="duration"
          formControlName="duration">
      </div>
      <div class="mb-3 form-group">
        <label for="project" class="form-label">Project *</label>
        <select id="project" formControlName="project" class="form-select form-control" aria-label="select">
          <option value="{{project._id}}">{{project.name}}</option>
        </select>
      </div>
      <div class="btn btn-group">
        <button class="btn btn-primary me-4" (click)="startTimer()">Start</button>
        <button class="btn btn-danger ms-4" (click)="pauseTimer()">Stop</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="timerForm.invalid" (click)="onSubmitForm()">Create
      Task</button>
  </div>
</ng-template>

<app-ui-button (click)="open(content)" [type]="'primary'" [icon]="'home'" [content]="'Ajouter une tâche'"></app-ui-button>